body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}

@mixin baseFlexStyle {
  width: 100%;
  height: 100%;
  display: flex;
  @content
}

@mixin tableHeaderStyle {
  :deep(.table-header-row-style) {
    background-color: #3483d1 !important;;
    color: #ffffff !important;;
  }
}

/*公共样式 - 按钮上的ICON*/
.common-btn-icon-style {
  width: 16px;
  padding-right: 10px
}

/*公共样式 - 模块顶部区域*/
.common-module-header-box {
  height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #5e5e5e;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 0.5);
  margin-bottom: 20px;
}

/*公共样式 - 模块查询区域*/
.common-module-query-box {
  min-height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #5e5e5e;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 0.5);
  margin-bottom: 20px;
  .module-query-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .module-query-item-title {
      color: #3E3E3E;
      margin-right: 10px
    }
  }

  .module-query-item-btn {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
  }
}

/*公共样式 - 功能操作区域*/
.common-module-opts-box {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #5e5e5e;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 0.5);
  margin-bottom: 20px;
}

/*公共样式 - Table组件基础样式*/
.common-table-base-style {
  width: 100%;
  border-radius: 8px;
}